<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Proyecto Halstead
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Métricas de Halstead</h2>
  <h3>Alumno: Alfonso León Macedo</h3>
  <h3>Asignatura: Métricas de Software</h3>
  <h3>Profesor: Elfego Guiterrez Ocampo</h3>
  <ion-card>
    <ion-img src="assets/img/logo.JPG" style="width: 80%; height: 80%;"></ion-img>
  </ion-card>

  <ion-button color="primary" (click)="irARegistros()" expand="block">Iniciar</ion-button>
</ion-content>